.cart {
  grid-column: cart-start / cart-end;
  grid-row: 1 / -1;
  align-self: start;
  position: sticky;
  top: 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  color: white;
  background-color: var(--color-dark);
  border-radius: 30px 0 0 30px;
  padding: 40px 26px;
  margin-top: 80px;

  max-height: calc(100vh - 40px);
  overflow: auto;
}

.cart_title {
  font-size: 32px;
  font-weight: 700;
  color: white;
}

.cart_items {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cart_summary {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: auto;
  padding-top: 24px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.confirmation {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;

  display: flex;
  align-items: center;
  gap: 20px;
  background-color: var(--color-dark);
  color: white;
  border-radius: 20px;
  padding: 30px 40px;
}

.confirmation img {
  width: 80px;
  height: 57px;
  transform: rotate(180deg);
}

.confirmation_text {
  display: flex;
  flex-direction: column;
  font-family: var(--font-primary);
}

.confirmation_title {
  font-size: 42px;
  font-weight: 700;
  line-height: 120%;
}
.confirmation_message {
  font-size: 29px;
  font-weight: 700;
  line-height: 120%;
}
.confirmation-close {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 20px;
}

.basket-item {
  position: relative;
  background-color: var(--color-cream);
  border-radius: 20px;
  padding: 16px;
  color: var(--color-dark);
}
.basket-item_delete {
  position: absolute;
  top: 12px;
  right: 12px;
}

.basket-item_name {
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
}

.basket-item_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.basket-item_stepper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.basket-item_price {
  display: flex;
  justify-content: end;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
}

.basket-item_stepper img {
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
}

.basket-item_stepper button {
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
}
.basket-item_delete img {
  height: 18px;
  width: 16px;
}
