* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  color: var(--color-dark);
}
img {
  max-width: 100%;
  display: block;
}

button {
  font-family: inherit;
  border: none;
  background: none;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
ol {
  list-style: none;
}

.d-none {
  display: none !important;
}
